# ==== CORE ====
Flask==3.0.3
gunicorn==21.2.0
Werkzeug==3.0.3
requests==2.32.3
packaging==24.0

# ==== IMÁGENES ====
Pillow==10.4.0

# ==== PDF ====
pypdf==4.3.1
reportlab==4.2.5

# ==== OCR / VISIÓN (opcionales) ====
pytesseract==0.3.13
opencv-python-headless==4.10.0.84

# NUMPY (versión compatible)
numpy==1.26.4

# ==== EXCEL ====
openpyxl==3.1.2

flask-cors
